{% extends "layout.html" %}
{% block title %}
About me
{% endblock %}
{% block content %}
<div class="container" id="hero">
    <h1 class="hero-text">Nikodem Skrzypczak</h1>
</div>
<div class="container container-col">
    <div class="col50" style="background-color:brown;">
        <p id="datetime" style="color:black;font-size:12;"> </p></div>
    <div class="col50" style="background-color:green;"></div>
</div>
<div class="container container-col">
    <div class="col50" style="background-color:yellow;"></div>
    <div class="col50" style="background-color:grey;"></div>
</div>
{% endblock %}